<!DOCTYPE html>
<html>
<head>
	<title>AngularJS Tutorials</title>

</head>
<body ng-app="demoApp">
	<script type="text/ng-template" id="partials/view1.html">
		<h2>view1</h2>
		filter: <input type="text" ng-model="name" /> 
		<ul>
			<li ng-repeat="cust in customers | filter:name | orderBy:'name'">{{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
		</ul>
		<a href="#/view2"> view2 </a>
		<br />
		name: <input type="text" ng-model="newCust.name" /><br /> 
		city: <input type="text" ng-model="newCust.city" /><br /> 
		<button ng-click="addCustomer()">add customer</button>
	</script>

	<script type="text/ng-template" id="partials/view2.html">
		<h2>view2</h2>
		filter: <input type="text" ng-model="name" /> 
		<ul>
			<li ng-repeat="cust in customers | filter:name | orderBy:'name'">{{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
		</ul>
		<a href="#/view1"> view1 </a>
	</script>
	
	<h1>Hello Angular</h1>
	<!-- placeholder for the views -->
	<div ng-view=""></div>
	
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
<script type="text/javascript" src="helloAngular.js"></script>
</body>
</html>